@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@1,500&family=Roboto:ital@1&display=swap');
#units_header {
    text-align: center;
    margin-top:5px;
    margin-bottom: 15px;
    font-family: 'Playfair Display', serif;
}

/* #overview_header h1,h3 {
    font-family: 'Roboto', sans-serif;
} */


.btn {
    white-space: normal;
}

#index_header h2{
    text-align: center;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

#index_header h4{
    text-align: center;
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    
}

#instructor_details {
    display: flex;
    align-items: baseline;
    justify-content: center;
    margin-top: 5px;
}

#instructor_details h1 {
    font-family: 'Playfair Display', serif;
}

#instructor_details h3 {
    font-family: 'Roboto', sans-serif;
    margin-left: 3px;
}

#evaluation-plan {
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#evaluation-plan h1 {
    font-family: 'Playfair Display', serif;
}

td {
    text-align: center;
}

#course-outcomes {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: center;
}
#course-outcomes h1 {
    font-family: 'Playfair Display', serif;
}

#references h1 {
    font-family: 'Playfair Display', serif;
    text-align: center;
    margin-bottom: 15px;
}

.button {
    margin: 20px;
    display: inline-block;
    text-align: center;
}

#home-buttons {
    text-align: center;
}

#syllabusButton, #textBooksButton {
    width: 500px;
    text-align: center;
}

table {
    background-color: transparent;
}

th {
    text-align: center;
}

.card, .card-header {
    background-color: transparent !important;
    border: none !important;
    padding: 0 !important;
    margin-bottom: 20px;
}

.card {
    box-shadow: 0 2px 20px 0 rgba(110,130,208,.18);
}

.btn-link {
    width: 100%;
    color: black;
    height: 60px;
    text-decoration: none !important;
    text-align: center !important;
    font-style: italic !important;
}

/* .btn-link::after{
    content: '\2212';
    width: 30px;
    font-size: 25px;
    text-align: center;
    border-radius: 5px;
    right: 15px;
    top: 11px;
    position: absolute;
    background: #f8f9fa;
}

.btn-link.collapsed::after{
    content: '\002B';
}

.btn-link::before {
    content: '';
    height: 25px;
    width: 25px;
    position: absolute;
    background: #0000;
    z-index: 1;
    transform: rotate(45deg);
    left: 30px;
    top: 46px;

} */


@media screen and (max-width:600px){
    #instructor_details {
        flex-direction: column;
        align-items: center;
    }
    
}

